/*Main Image*/



#hero-image {
  background-image: url(https://raw.githubusercontent.com/hash004/freecodecamp/master/portfolioPage/images/home.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
}

#hero-text {
  margin-top: 23vh;
  color: white;
}

#hero-text hr {
  width: 18vw;
}

#hero-text h1 {
  font-size: 6em;
}

#hero-text p {
  font-size: 4em;
}

.fa {
  color: white;
  margin-right: 2vw;
}
