

#hero-image {
  background-image: url(https://raw.githubusercontent.com/hash004/freecodecamp/master/portfolioPage/images/home.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
